Temp/Objects/Config1/PC/.mappView/data/wwwRoot/BRVisu/Widgets/brease/XYChart/meta/XYChart_EventsActions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:s1="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" xmlns:var="http://www.br-automation.com/iat2015/varTypes/v2" elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.XYChart.Action">
		<xs:complexContent>
			<xs:extension base="s1:Target.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.XYChart.Action.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.ReadAction">
		<xs:complexContent>
			<xs:extension base="s1:ReadTarget.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.XYChart.ReadAction.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.ReadAction.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.Focus">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.Freeze">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.GetStatus">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.ReadAction.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ScrollDown">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ScrollLeft">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ScrollRight">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ScrollUp">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetCursorStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="cursorId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetCursorVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="cursorId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetEnable">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetGraphStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="graphId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetGraphVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="graphId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetSelectedCursor">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="cursorId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetXAxisPosition">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="position" type="var:brease.enum.VerticalAlign" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetXAxisStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetXAxisVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetYAxisPosition">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="yAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="position" type="var:brease.enum.HorizontalAlign" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetYAxisStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="yAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetYAxisVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="yAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.SetZoomType">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="zoomType" type="var:brease.enum.ChartZoomType" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ShowTooltip">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ToggleCursorTable">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.Unfreeze">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.Update">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
				<xs:attribute name="graphId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ZoomIn">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ZoomOut">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Action.ZoomReset">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.XYChart.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.XYChart.Event">
		<xs:complexContent>
			<xs:extension base="s1:Source.BaseWidget">
				<xs:attribute name="event" type="s1:widgets.brease.XYChart.Events" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="widgets.brease.XYChart.Events">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Click"></xs:enumeration>
			<xs:enumeration value="DisabledClick"></xs:enumeration>
			<xs:enumeration value="EnableChanged"></xs:enumeration>
			<xs:enumeration value="FocusIn"></xs:enumeration>
			<xs:enumeration value="FocusOut"></xs:enumeration>
			<xs:enumeration value="OnDragEnter"></xs:enumeration>
			<xs:enumeration value="OnDragLeave"></xs:enumeration>
			<xs:enumeration value="OnDrop"></xs:enumeration>
			<xs:enumeration value="VisibleChanged"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>